
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #EAF0F3;
}


.dashboard-container {
    position: relative;
    width: 1920px;
    height: 1290px;
    background: #EAF0F3;
}


.sidebar {
    position: fixed;
    width: 314px;
    height: 100vh;
    left: 0;
    top: 0;
    background: #890025;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 26px;
    z-index: 9;
}

.logo {
    width: 159px;
    height: 37px;
    margin-bottom: 50px;
    background-color: #890025;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 500;
    height: 29px;
    padding-left: 10px;
    width: 284px;
}

.menu-item .icon {
    width: 24px;
    height: 24px;
}

.menu-item.active {
    background: #FE0045;
    border-radius: 10px;
    padding-left: 10px;
    width: 284px;
    height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 500;
}


.accessibility {
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: 20px;
}

.access-icon {
    width: 100%;
    height: auto;
}

.line-separator {
    width: 262px;
    height: 1px;
    background-color: #737373;
    margin-top: 20px;
    margin-bottom: 30px;
}


.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 175px;
    height: 50px;
    position: relative;
    margin-top: 30px;
}


.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.user-info {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.user-name {
    font-size: 19px;
    font-weight: 500;
}

.user-role {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 0.8;
}

.header {
    position: fixed;
    left: 314px;
    width: calc(100% - 314px);
    height: 116px;
    top: 0;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
    transition: width 0.3s ease;
}

.app-title {
    display: flex;
    flex-direction: column;
}

.title {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
}

.dashboard {
    color: #2C2C2C;
    font-size: 19px;
    font-weight: 700;
    margin-top: 5px;
}


.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 586px;
    height: 46px;
    margin-right: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    width: calc(100% - 56px);
    height: 100%;
    background: #EAF0F3;
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    padding: 0 10px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.search-input {
    background: none;
    border: none;
    font-size: 16px;
    color: #737373;
    flex-grow: 1;
    outline: none;
    padding-left: 10px;
}

.voice-button {
    width: 46px;
    height: 46px;
    background: #EAF0F3;
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}


.notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 164px;
    height: 29px;
    margin-left: 20px;
}

.notification-count {
    background: #FE0045;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 5px;
}

.notification-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.notification-text {
    font-size: 19px;
    color: #2C2C2C;
    font-weight: 500;
}

.messages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 145px;
    height: 29px;
    margin-left: 20px;
}

.message-count {
    background: #FE0045;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 5px;
}

.message-icon {
    width: 24px;
    height: 24px;
}

.message-text {
    font-size: 19px;
    color: #2C2C2C;
    font-weight: 500;
}

.language-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 5px;
    width: 97px;
    height: 29px;
    margin-left: 20px;
}

.language-icon {
    width: 24px;
    height: 24px;
}

.language-text {
    font-size: 19px;
    color: #2C2C2C;
    font-weight: 500;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    filter: invert(22%) sepia(88%) saturate(7457%) hue-rotate(336deg) brightness(95%) contrast(101%);
}


.line-separator {
    width: 262px;
    height: 1px;
    background-color: #737373;
    margin-top: 20px;
}

.sidebar-toggle {
    display: none;
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: #FE0045;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        left: 0;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .search-bar-container {
        width: 100%;
        margin: 10px 0;
    }

    .notifications, .messages, .language-selector {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar-toggle {
        display: block;
    }
}


.login-body {
    background-color: #890025;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
}


.login-logo {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -20px;
}


.tracking-system-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-box {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    color: #2C2C2C;
    margin-bottom: 30px;
}

.login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 16px;
    color: #2C2C2C;
    background-color: #F5F5F5;
}


.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #FE0045;
    text-decoration: none;
}

.login-button {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    background-color: #FE0045;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #D9003A;
}



.login-body {
    background-color: #890025;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
}


.login-logo {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -20px;
}


.tracking-system-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}


.reset-box {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    text-align: center;
}

.reset-title {
    font-size: 20px;
    font-weight: bold;
    color: #2C2C2C;
    margin-bottom: 30px;
}

.login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    font-size: 16px;
    color: #2C2C2C;
    background-color: #EAF0F3;
}


.recaptcha-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.recaptcha-container label {
    font-size: 16px;
    color: #737373;
}

.recaptcha-logo {
    width: 30px;
    height: 30px;
}


.reset-button {
    width: 100%;
    padding: 12px 0;
    background-color: #FE0045;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #D9003A;
}


.return-login {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #FE0045;
    text-decoration: none;
    text-align: center;
}



